$color-text: #C4C4C4;

$content-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;

$breakpoints: (
  "desktop": (max-width: 1280px),
  "smaller-desktop": (max-width: 1200px),
  "small-desktop": (max-width: 1100px),
  "big-tablet": (max-width: 1000px),
  "tablet": (max-width: 768px),
  "toggle-menu": (max-width: 767px),
  "smaller-tablet": (max-width: 750px),
  "small-tablet": (max-width: 740px),
  "big-mobile": (max-width: 441px),
  "mobile": (max-width: 320px),
);