$color-text: #c4c4c4;
$color-border: #aaaaaa;
$color-keyboard-background: #cccccc;
$color-button: #a5a5a5;
$color-button-special: #707070;
$color-button-hover: #00dddd;
$color-button-active: #00ffff;

$button-size: 5rem;

$space-between: 1rem;

$content-width: 1280px;
