$color-text: #c4c4c4;
$color-border: #aaaaaa;
$color-keyboard-background: #8a8a8a;
$color-button: #3b3b3b;
$color-button-special: #0f141f;
$color-button-hover: #00cccc;
$color-button-active: #00eeee;
$color-button-text: #ffffff;
$color-button-hover-text: #000000;

$button-size: 5rem;

$space-between: 1rem;

$content-width: 1280px;
